* {
	box-sizing: border-box;
}

html, body, css-main {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.search-row {
	margin-bottom: 20px;
}

.map-stat-row {
	height: 100%;
}

#map {
	height: 800px;
}



h1, form {
	display: block;
	margin-left: auto;
	text-align: center;
}

h1 {
	font-family: "Bungee", sans-serif;
}

form input, form button, h2, p {
	font-family: "Quicksand", sans-serif;
}

.css-complaint-button {
	font-family: "Quicksand", sans-serif;
	display: block;
	margin: 3px;
}

/*h1, .css-search-bar {
	margin-left: auto;
	text-align: center;
	display: block;
}*/

.css-search-bar {
	margin-left: auto;

}

