* {
	box-sizing: border-box;
}

html, body, css-main {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.search-row {
	margin-bottom: 20px;
}

.map-stat-row {
	height: 100%;
}

#map {
	height: auto;
}

/*
Mobile-First Class
*/

@media (max-width: 576px) {
	#map {
		width: 100%;
		height: 300px;
	}

	h2 {
		margin-top: 7px;
	}

}

h1, form {
	display: block;
	margin-left: auto;
	text-align: center;
}

h1 {
	font-family: "Bungee", sans-serif;
}

form input, form button, h2, p, li {
	font-family: "Quicksand", sans-serif;
}

form button {
	border-radius: 5px;
	background: linear-gradient(to bottom, #e6e6e6, #f2f2f2);
}

p {
	font-size: 1.2em;
}

li {
	font-style: italic;
}

h2 {
	font-size: 1.5em;
}



.css-complaint-button {
	font-family: "Quicksand", sans-serif;
	font-size: 1.4em;
	display: block;
	margin: 7px;
	border-radius: 5px;
	background: linear-gradient(to bottom, #e6e6e6, #f2f2f2);
}

.css-search-bar {
	margin-left: auto;

}

.hidden {
	display: none;
}



